*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #F9F9F9;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1343px;
  margin: 0 auto;
  padding: 0 97px;

  @media screen and (max-width: 1300px) {
    max-width: 1200px;
    padding: 0 67px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 30px;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #141416;
  border: none;
  border-radius: 16px;
  outline: none;
  padding: 16px 25px;
  font-size: 1.15rem;
  line-height: 1.57rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #D7D7D7;
    color: #141416;
    transition: all 0.3s ease;
  }
  @media (max-width: 1300px) {
    padding: 12.5px 22px;
    font-size: 11px;
  }
}

.button--white {
  background-color: #fff;
  color: #141416;
  border: 2px solid #141416;
  transition: all 0.3s ease;
  &:hover {
    background-color: #F2F2F2;
    transition: all 0.3s ease;
  }
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #141416;
}

.main-content {
  flex: 1;
  width: 100%;
}